body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
/* heading */
.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/* container */
.container-fluid {
  padding: 7% 15%;
}
/* sections */
.color-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}
/* title section */
#title {
  text-align: left;
}
#title .container-fluid {
  padding-top: 3%;
}

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}
.download-btn {
  margin: 5% 3% 5% 0;
}
.title-image {
  width: 50%;
  transform: rotate(25deg);
  margin-left: 20%;
  position: absolute;
  right: 30%;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    width: 40%;
    transform: rotate(0deg);
  }
}
#features {
  position: relative;
}

.fas-feature {
  color: #ef8172;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.feature-item {
  padding: 0 20px;
}
.feature-title {
  font-size: 1.5rem;
}
.feature-text {
  color: #8f8f8f;
  line-height: 1.5rem;
}
.fas-feature:hover {
  color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
}
#testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.press-logo {
  width: 15%;
  margin: 2em;
}

#pricing {
  padding: 100px;
}

.price-item {
  padding: 3% 2% 0;
  margin-bottom: 0;
}
.card-title {
  padding: 30px 20px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.footer-logo {
  padding: 20px 20px;
}
.copyright-text {
  color: #8f8f8f;
  line-height: 1.5rem;
}
